<!DOCTYPE html>
<html>
  <head>
    <title>Hqtest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"> IVHQ </a></h1>
        </li>
      </ul>
    </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
